// font-family: 'M PLUS 1p', sans-serif;
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  color: #393f47;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;

  ::selection {
    background: var(--yellow);
  }
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p,
img,
li,
span,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

:root {
  --hover-color: #0077b5;
  --yellow: #fbdc4d;
  --red: #d63434;
  --orange: #ed9626;
}

.none {
  display: none;
}

.noscroll {
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

#overlay.active {
  display: block;

  @media (min-width: 1200px) {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.button-ref {
  display: inline-block;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.fa-linkedin-in {
  transition: 0.3s;
}
.fa-linkedin-in:hover,
.fa-linkedin-in:active {
  color: #0077b5;
}
.fa-linkedin-in:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.fa-github {
  transition: 0.3s;
}
.fa-github:hover,
.fa-github:active {
  color: #6cc644;
}
.fa-github:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.fa-vk {
  transition: 0.3s;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
}
.fa-vk:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.fa-telegram {
  transition: 0.3s;
}
.fa-telegram:hover,
.fa-telegram:active {
  color: #0088cc;
}
.fa-telegram:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.fa-facebook {
  transition: 0.3s;
}
.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
}
.fa-facebook:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.fa-viber {
  transition: 0.3s;
}
.fa-viber:hover,
.fa-viber:active {
  color: #8f5db7;
}
.fa-viber:hover.fa-2x {
  transform: scale(1.2);
  transition: 0.3s;
}

.heading-article {
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

.heading-section {
  position: relative;
  z-index: 0;
  width: fit-content;
  font-size: 42px;
  font-weight: 800;
  color: #000000;
  line-height: 1.2;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 12px solid var(--yellow);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    bottom: -9px;
    left: -6px;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.5s;

    @media (min-width: 768px) {
      bottom: -6px;
    }

    @media (min-width: 1200px) {
      bottom: -4px;
    }
  }

  &:hover::after {
    border-color: var(--hover-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: 0.3s;
  }

  @media (min-width: 768px) {
    font-size: 52px;
  }

  @media (min-width: 1200px) {
    font-size: 64px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-bottom: 47px;

  @media (min-width: 768px) {
    margin-bottom: 41px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

#back-top a {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var(--orange);
  opacity: 0.4;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  @media (min-width: 768px) {
    bottom: 25px;
    right: 25px;
  }

  @media (min-width: 1200px) {
    bottom: 35px;
    right: 35px;
  }
}

.fa-4x {
  font-size: 2em;
  @media (min-width: 768px) {
    font-size: 3em;
  }
  @media (min-width: 1200px) {
    font-size: 4em;
  }
}

#nav-dots {
  position: fixed;
  top: 45%;
  right: 10px;
  z-index: 100;

  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-bottom: 25px;
    background-color: var(--yellow);
    transition: 0.3s;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      transform: scale(1.3);
      transition: 0.3s;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    right: 30px;
  }
}

#nav-dots li.active {
  background-color: var(--hover-color);
}
