// font-family: 'M PLUS 1p', sans-serif;
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;

  color: #393f47;
  font-family: "M PLUS 1p", sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
img,
li,
span {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.button-ref {
  display: inline-block;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.fa-linkedin-in:hover,
.fa-linkedin-in:active {
  color: #0077b5;
}
.fa-github:hover,
.fa-github:active {
  color: #6cc644;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
}
.fa-telegram:hover,
.fa-telegram:active {
  color: #0088cc;
}
.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
}


.heading-article {
    font-size: 40px;
    font-weight: 800;
    color: #000000;
    line-height: 1.2;
}