.contacts-form {
  padding: 36px 12px 39px;
  background-color: #ffffff;
  box-shadow: 0px 28px 40px 0px rgba(194, 219, 235, 0.5);

  @media (min-width: 768px) {
    padding: 43px 34px 14px;
    width: 50%;
  }

  @media (min-width: 1200px) {
    padding: 55px 57px 39px;
    max-width: 530px;
  }
}

.contacts-form__item {
  position: relative;
  margin-bottom: 17px;

  textarea {
    height: 144px;
    padding-top: 30px;

    &:active,
    &:focus {
      border-bottom: none;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 17px;
    textarea {
      height: 145px;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 40px;
    textarea {
      height: 133px;
      padding-top: 30px;
    }
  }
}

.form-field {
  display: block;
  height: 66px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;

  &:active,
  &:focus {
    border-bottom: 2px solid #ed9626;
  }
}

.fake-placeholder {
  position: absolute;
  top: 26px;
  left: 5px;

  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;

  pointer-events: none; /* делает поле невидимым для "клика" */
  transition: 0.3s;
}

.fake-placeholder.active {
  font-size: 16px;
  color: #ed9626;
  top: 2px;
  transition: 0.3s;
}

.btn-submit {
  padding: 17px 41px;
  border: none;
  border-radius: 30.5px;
  background-color: var(--yellow);
  color: #000000;
  width: 100%;

  &:hover {
    background-color: #e6bf14;
  }
  &:active {
    background-color: #c2c520;
  }

  @media (min-width: 768px) {
    padding: 16px 41px;
  }

  @media (min-width: 1200px) {
    padding: 19px 41px;
    width: unset;
  }
}
