.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  z-index: 1;

  @media (min-width: 482px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding: 0;
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: 1200px) {
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }
}

.header-content_img {
  position: relative;
  margin-bottom: 50px;
  transition: 1s;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--hover-color);
    opacity: 0.3;
    transition: 0.5s;
  }

  &:hover {
    box-shadow: 0 0 35px 5px #a3cff3;
    transition: 1s;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 50%;
    max-width: 325px;
  }

  @media (min-width: 1200px) {
    width: 50%;
    max-width: 460px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 25%;
      left: 30%;
      background: linear-gradient(
        90deg,
        rgb(244, 248, 249) 0%,
        rgba(244, 248, 249, 0) 100%
      );
      opacity: 0.3;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.header-content_about {
  max-width: 410px;

  @media (min-width: 768px) {
    padding-top: 17px;
    width: 50%;
    max-width: 340px;
  }

  @media (min-width: 1200px) {
    padding: 0;
    width: 50%;
    max-width: 580px;
  }
}

.about-name {
  margin-bottom: 25px;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;

  @media (min-width: 768px) {
    margin-bottom: 17px;
    font-size: 52px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 16px;
    display: inline-block;
    font-size: 90px;
  }
}

.about-name_underline {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 0px;
    border-bottom: 12px solid var(--yellow);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    bottom: -5px;
    left: -6px;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.5s;
  }

  &:hover::after {
    border-color: var(--hover-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: 0.5s;
  }

  @media (min-width: 768px) {
    &::after {
      bottom: -2px;
    }
  }

  @media (min-width: 1200px) {
    &::after {
      bottom: 10px;
      left: -4px;
    }
  }
}

.about-desc {
  font-size: 18px;

  font-weight: 500;
  color: #393f47;
  line-height: 1.66;

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.about-buttons {
  display: none;

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    display: block;
  }
}

.about-buttons_meet {
  padding: 19px 42px;
  margin-right: 15px;
  border-radius: 30.5px;
  background-color: var(--yellow);
  color: #000000;
  transition: 0.5s;

  &:hover {
    background-color: #e6bf14;
    transition: 0.5s;
  }
  &:active {
    background-color: #c2c520;
  }
}
.about-buttons_contacts {
  padding: 15px 39px;
  border-radius: 32px;
  border: 4px solid #464646;
  color: #464646;
  transition: 0.5s;

  &:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
  &:active {
    border-color: #000000;
    color: #000000;
  }

  span {
    color: var(--hover-color);
  }
}

.header-image {
  transform: scale(1.4);
  margin-bottom: 30px;

  @media (min-width: 425px) {
    transform: scale(1.3);
  }
  @media (min-width: 585px) {
    transform: scale(1.2);
  }
  @media (min-width: 768px) {
    transform: scale(1.1);
    margin-top: -65px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    transform: unset;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1600px;
  }
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 84px;

  @media (min-width: 482px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-top: 0;
  }

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
  }
}

.header-description_skills {
  width: 88%;

  @media (min-width: 768px) {
    width: 50%;
    max-width: 340px;
  }

  @media (min-width: 1200px) {
    width: 60%;
    max-width: 600px;
  }
}

.header-description_contacts {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
    max-width: 350px;
  }
  @media (min-width: 1200px) {
    width: 40%;
    max-width: 360px;
  }
}

.skills-heading {
  margin-bottom: 28px;
  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.skills-desc {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;

  li {
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 15px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 0;
      &::before {
        content: "\2014 \00A0";
      }
    }
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 1.6;
  }
}

.contacts-heading {
  margin-bottom: 24px;

  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.contacts-icons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 17px;

  a {
    margin-right: 31px;
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: 768px) {
      margin-right: 33px;
    }

    @media (min-width: 1200px) {
      margin-right: 34px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.contacts-email {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  border-bottom: 1px solid #000000;
  transition: 0.3s;

  &:hover {
    color: var(--yellow);
    border: none;
    transition: 0.3s;
  }
  &:active {
    color: var(--red);
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}
